main{
  background-color: #F5F5F5;
  height: 100%;
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.dice-container{
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 22px;
  margin-bottom: 40px;
}

.roll{
  background-color: #5035EE;
  border: none;
  white-space: nowrap;
  width: auto;
  padding: 6px 21px;
  height: 50px;
  color:white;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.title{
  font-size: 56px;
  margin: 0;
  font-family: Karla, sans-serif;
}

.instructions{
  font-family: Inter, sans-serif;
  font-weight: 500;
  margin-top: 0;
  text-align: center;
  padding: 0 20px;
}