*{
  box-sizing: border-box;
}
body{
  margin: 0;
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 25%, rgba(0,212,255,1) 100%);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
 
}

div#root{
  height: 100%;
  width: 100%;
  max-height: 500px;
  max-width: 500px;
}

.dice{
  height: 50px;
  width: 50px;
  border: none;
  background-color: white;
  border-radius: 6px;
  font-size: 1.5rem;
  font-weight: 700; 
  font-family: Inter, sans-serif;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
